---
---

body {
  font-family: 'Montserrat' !important;
}

@import 'jekyll-theme-slate';
#main_content_wrap {
  background: white;
}
.nav-tabs {
  max-width: 640px;
  margin: auto;
}
.tab {
  position: sticky;
  top: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
#project_title img {
  box-shadow: none !important;
}
.tablinks {
  text-decoration: none;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: black;
}
.tab a:hover {
  text-decoration: none;
  background-color: #ddd;
}
.carousel .item {
  background-color: #f2f2f2;
  height: 300px;
}
.carousel img {
  margin: auto;
}
.sketches img {
  width: 203px;
  height: 260px;
  border: 1px solid black;
}

.wireframes a img {
  width: 203px;
  border: 1px solid black;
}

.prototypes1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    font-size: 20px;
  }
  a img {
    width: 300px;
    // height: 500px;
  }
}

.prototypes2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  div {
    font-size: 20px;
  }
  img {
    width: 300px;
    // height: 500px;
  }
}

.prototypes3 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  div {
    font-size: 20px;
  }
  img {
    width: 300px;
    // height: 500px;
  }
}

.typography {
  display: flex;
  flex-direction: column;
  .font1 {
    font-weight: 200;
  }
  .font2 {
    font-weight: 600;
  }
  .font3 {
    font-weight: 900;
  }
}